.mid-post .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_custom_heading {
    margin-bottom: -24px !important;
}

.mid-post .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_custom_heading h5 a {
    font-weight:100 !important;
    font-size: 13px;
}